:root {
  --nav-width: 300px;
}

#navbar {
  position: fixed;
  min-width: var(--nav-width);
  height: 100vh;
}

#navbar {
  overflow-y: auto;
}

#navbar li {
  position: relative;
}

#main-doc {
  margin-left: var(--nav-width);
  width: 100%;
  max-width: calc(100vw - var(--nav-width) - 1rem);
}

@media(max-width: 576px){
  
  #navbar {
    height: 10rem;
  }
  #main-doc {
    margin-top: 10rem;
  }
}

@media(max-width: 768px){
  
  #navbar {
    height: 12rem;
    z-index: 100;
  }
  #main-doc {
    margin-top: 12rem;
    margin-left: auto;
  }
}